.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.central-container {
  width: 800px;
  flex-direction: column;
}

.map-container {
  height: 500px;
}

.select {
  margin-right: 10px;
  margin-top: 5px;
  flex: 1;
}

.year-slider {
  margin-left: 10px;
  margin-top: 15px;
  flex: 1;
}

.thumb {
  height: 25px;
  width: 25px;
  color: blue;
}