.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.central-container {
  width: 800px;
  flex-direction: column;
}

.map-container {
  height: 500px;
}

.select {
  width: 100%;
  margin-top: 15px;
}